<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821927825443-e8iblorqnc0d2ub1tg0ivp3duuip1l31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821927825443-e8iblorqnc0d2ub1tg0ivp3duuip1l31</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>821927825443-m2uec3dp6grtghp9vtkkq35egiko55gf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQXxbG6dilDI7IKH56YUIFY2kXBbF_4VU</string>
	<key>GCM_SENDER_ID</key>
	<string>821927825443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.islam.todo.toDoFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-30dab</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-30dab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821927825443:ios:5954b2e48a6120df53a196</string>
</dict>
</plist>